footer {
	background-image:linear-gradient(to bottom right ,lightgrey, darkgrey, grey);
	position:absolute;
	bottom:0;
	width:98%;
	padding-top:20px;
	.main-footer{
	.displayFlex(space-evenly,center);
		a{
		text-align:center;
		.boldButtons();
		}
	}
}